p {
    color: red;
}

.beer {
  padding: 12px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.beer .name {
  color: green;
}

.beer .description {
  color: #333333;
  font-size: small;
}

.beer img {
  padding: 12px;
  max-height: 128px;
}