<div class="text">
  <plugin-test [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-test>
  <plugin-private [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-private>
  <plugin-giphy [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-giphy>
  <plugin-sunrise [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-sunrise>
  <plugin-fixer [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-fixer>
</div>
